################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cst116proj2-1-jacob-k-and-austin-g/v16/Browse.VC.opendb
